Diferenca_Html_Xml/dados.dtd

<!ELEMENT dados (linha+)>
<!ELEMENT linha (ID, Nome, Estrelas, Area, Endereco, Distancia, Disponibilidade)>
<!ELEMENT ID (#PCDATA)>
<!ELEMENT Nome (#PCDATA)>
<!ELEMENT Estrelas (#PCDATA)>
<!ELEMENT Area (#PCDATA)>
<!ELEMENT Endereco (#PCDATA)>
<!ELEMENT Distancia (#PCDATA)>
<!ELEMENT Disponibilidade (#PCDATA)>